body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 3rem;
}

.form-control {
    max-width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form-label {
    font-weight: bold;
    font-size: 25px;
}

.espacio{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 1.5rem;
}

.login-link {
    margin-top: 1rem;
    font-size: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
 
.container{
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-primary {
    display: inline-block;
    
}
.btn-primary {
    padding: 0.75rem 4rem;
    font-size: 18px;
    border: none;
    border-radius: 0.50rem;
    cursor: pointer;
    max-width: 15rem;
    cursor: pointer;
}
.btn-primary[type="submit"] {
    background-color: #fff;
    color: #2522AF;
    border-radius: 10px;
}
.btn-primary[type="submit"]:hover {
    background-color: #ccc;
}
.btn-primary[type="button"] {
    background-color: #fff;
    color: #2522AF;
    border-radius: 10px; 
}
.btn-primary[type="button"]:hover {
    background-color: #ccc;
}

